.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }
.taille{
       margin-top: 1em;
}

#connexion
{
	display: flex;
	margin-left: auto;
}

h1
{
    text-align: center;
    font-size: 30px;
}

p
{
    margin-top: 30px;
    text-align: justify;
}

#articles div
{
    background-color: white;
    text-align: center;
}

#articles2 div
{
    background-color: white;
    text-align: center;
}

#evenement div
{
    background-color: white;
    text-align: center;
}

#evenement img
{
  height: 300px;
  width: 300px;
}

#evenement2 div
{
    background-color: white;
    text-align: center;
}

#evenement2 img
{
  height: 300px;
  width: 300px;
}

#photo div
{
    background-color: white;
    text-align: center;
}

#photo img
{
  height: 300px;
  width: 300px;
}

#photo2 div
{
    background-color: white;
    text-align: center;
}

#commande div
{
    background-color: white;
    text-align: center;
    justify-content: center;
}

#enteteCommande
{
  background-color: white;
  font-weight: bold;
}

#participant div
{
    background-color: white;
    text-align: center;
}

#personne div
{
    background-color: white;
    text-align: center;
    justify-content: center;
}


#photo2 img
{
  height: 300px;
  width: 300px;
}

#imageProduit
{
    height: 100%;
    width: 50%;
}

#imgProduit
{
    background-color: white;
    border-radius: 15px;
}

#prixTotal
{
    text-align: right;
}

/*# = id
. = class
*/
.nolink:hover{
    text-decoration: none;  
    color: skyblue;  
}

.nolink{
    color: black;
}

body
{
    background-image: linear-gradient(#ADD8E6, #6495ED);
    /* Obligatoire si on veut "voir" le dégradé */
    width: all;
    height: all;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

#caseProduit
{
    background-color: white;
    border-radius: 15px;
}

#carouselBoutique
{
      background-color: white;
}

.carou
{
  text-align: center;
}

.fleche
{
  background-color: #1d8cde;
  height: 50px;
  width: 50px;
  margin-top: auto;
}

#carouselExampleIndicators
{
padding-left: 50px;
padding-right: 50px;
}

footer
{
    background-color: #F5FFFA;
}

main {
    display : flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.footerText:hover
{
    text-decoration: none;  
    color: skyblue;
}

.footerText
{
    color: black;
}

.logo
{
    height: 30px;
    width: 50px;
}

.logo2
{
    height: 33px;
    width: 43px;
}

.logo3
{
    height: 30px;
    width: 80px;
}

#boutonAdmin
{
    background-color: white;
    border-radius: 15px;
    color: black;
}

#boutonAdmin:hover
{
    text-decoration: none;   
}

.corbeille
{
    height: 50px;
    width: 50px;
    margin-bottom: 25px;
    margin-left: 25px;
}

#corbeille
{
    align-self: center;
}

/* .button-like {
  border: 2px solid black-gray;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: black-gray;
  transition: all ease 0.4s;

  span {
    margin-left: 0.5rem;
  } */
  .like{
    max-width: 5%;
    height: auto;
    margin-left: 0.5rem;
  }

  .fa,
  span {
    transition: all ease 0.4s;
  }

  &:focus {
    background-color: transparent;

    .fa,
    span {
      color: $dark-gray;
    }
  }

  &:hover {
    border-color: $alert-color;
    background-color: transparent;

    .fa,
    span {
      color: $alert-color;
    }
  }
}

.liked {
  background-color: $alert-color;
  border-color: $alert-color;

  .fa,
  span {
    color: $white;

  }

  &:focus {
    background-color: $alert-color;

    .fa,
    span {
      color: $white;
    }
  }

  &:hover {
    background-color: $alert-color;
    border-color: $alert-color;

    .fa,
    span {
      color: $white;
    }
  }
}

#photoEvent
{
    margin-right: auto;
    margin-left: auto;
}

.commentaire
{
    text-align: center;
}

.carousel
{
    height: 750px;
    width: 750px;
}

#commentaire
{
  text-align: center;
}

.filtreBouton
{
  padding: 1%;
}

#adminBouton
{
  text-align: center;
}